<div class="container">
  <form class="needs-validation" action="crearusuario" method="POST" novalidate>
    <div class="form-row">
      <div class="col-md-4 mb-3">
        <label for="validationCustom01">First name</label>
        <input type="text" class="form-control" id="validationCustom01" placeholder="First name" name="Usuarionombre" required>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-4 mb-3">
        <label for="validationCustom01">First name</label>
        <input type="text" class="form-control" id="validationCustom01" placeholder="First name" name="Usuarioapellido" required>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-4 mb-3">
        <label for="validationCustom01">First name</label>
        <input type="text" class="form-control" id="validationCustom01" placeholder="First name" name="Usuariosemestre" required>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
    </div>
    <button class="btn btn-primary" type="submit">Enviar</button>
  </form>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Nombres</th>
        <th scope="col">Apellidos</th>
        <th scope="col">Semestre</th>
        <th scope="col">Estado</th>
      </tr>
    </thead>
    <tbody>
      {{#each AllAlumnos}}
        <tr>
          <th scope="row">{{idUsuario}}</th>
          <td>{{{Usuarionombre}}}</td>
          <td>{{Usuarioapellido}}sdasdsd</td>
          <td>{{Usuariosemestre}}</td>
          <td>{{Usuarioactivo}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>